body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #dddfd4;
}

.bodyPt {
    margin: 0px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 2px;
}

#appHeader {
    text-align: center;
    background-color: #173e43;
    color: white;
}

#appTitle {
    font-size: 3em;
    font-weight: bold;
}

#navBar {
    background-color: #fae596;
}

.navTab {
    display: inline-block;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 2px;
}

#stdsTab {
    background-color: #3fb0ac;
    color: white;
    font-weight: bold;
}

#filesTab {
    background-color: white;
    color: black;
    font-weight: normal;
}

#stdsPage {
    display: block;
    position: relative;
    width: 100%;
}

#filesPage {
    display: none;
}

svg {
    display: block;
    position: relative;
    width: 100%;
    background-color: white;
}

.tooltip {
    position: absolute;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 1px 1px grey;
    padding: 5px;
    background-color: white;
}

.chartTitle {
    font-size: 2em;
}

#footer {
    background-color: #173e43;
    color: white;
    font-size: 0.8em;
}