body {
    position: relative;
    font-family: Arial, sans-serif;
}

.bodyPt {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 2px;
}

#appHeader {
    text-align: center;
}

#appTitle {
    font-size: 3em;
}

#navBar {
    
}

.navTab {
    display: inline-block;
    cursor: pointer;
}

#stdsTab {
    background-color: black;
    color: white;
    font-weight: bold;
}

#filesTab {
    background-color: white;
    color: black;
    font-weight: normal;
}

#stdsPage {
    display: block;
    position: relative;
    width: 100%;
}

#filesPage {
    display: none;
}

svg {
    display: block;
    position: relative;
    width: 100%;
}

.tooltip {
    position: absolute;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 1px 1px grey;
    padding: 5px;
    background-color: white;
}

.chartTitle {
    font-size: 2em;
}